.link-btn {
  /*width: 60%;*/
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link-btn:hover {
  text-decoration: none;
}

.container.pad_link {
  padding: 0;
}

.link-btn-container div {
  display: flex;
  align-items: center;
}

.link-btn-arrow {
  color: #f0592a;
  font-size: 20px;
  text-align: right;
}

hr.divider {
  margin-bottom: 0;
  color: #cccccc;
}
.link-align {
  display: flex;
  flex-direction: row-reverse;
}

.link-btn-title {
  color: #000000;
  font-size: 18px !important;
  font-weight: 400 !important;
  margin: 0 !important;
}

/*Transportes*/
.link-btn-transport {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link-btn-transport:hover {
  text-decoration: none;
}

.link-btn-transport .link-btn-title {
  font-size: 18px !important;
  font-weight: 400 !important;
}

/*BTN para a página de escolher um testemunho*/

.link-btn-escolha {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link-btn-escolha:hover {
  text-decoration: none;
}
.link-btn-escolha .link-btn-title {
  font-size: 18px !important;
  font-weight: 400 !important;
}

/*MEDIA QUERIES*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 320px) {
  /*Estudar UA*/
  .link-btn .link-btn-img {
    width: 78%;
  }
}
@media only screen and (min-width: 375px) {
  /*Estudar UA*/
  .link-btn .link-btn-img {
    width: 65%;
  }
}
@media only screen and (min-width: 425px) {
  /*Estudar UA*/
  .link-btn .link-btn-img {
    width: 55%;
  }
}

@media only screen and (max-width: 576px) {
  .link-btn-title {
    font-size: 17px !important;
  }
  /*ESCOLHA*/
  .link-btn-escolha .link-btn-img {
    width: 100% !important;
  }
  .link-btn-escolha {
    width: 100%;
    height: 100px;
  }

  /*Estudar UA*/
  .link-btn {
    width: 100%;
    height: 70px;
  }

  /*Transportes*/
  .link-btn-transport .link-btn-img {
    width: 75% !important;
  }
  .link-btn-transport {
    width: 100%;
    height: 70px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*ESCOLHA*/
  .link-btn-escolha .link-btn-img {
    width: 100% !important;
  }
  .link-btn-escolha {
    height: 100px;
    width: 100%;
  }

  /*Estudar UA*/
  .link-btn .link-btn-img {
    width: 40%;
  }
  .link-btn {
    width: 100%;
    height: 70px;
  }

  /*Transportes*/
  .link-btn-transport .link-btn-img {
    width: 50% !important;
  }
  .link-btn-transport {
    width: 100%;
    height: 70px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*ESCOLHA*/
  .link-btn-escolha .link-btn-img {
    width: 80% !important;
  }

  /*Estudar UA*/
  .link-btn .link-btn-img {
    width: 70%;
  }
  /*Transportes*/
  .link-btn-transport .link-btn-img {
    width: 80% !important;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*ESCOLHA*/
  .link-btn-escolha .link-btn-img {
    width: 50% !important;
  }

  /*Estudar UA*/
  .link-btn .link-btn-img {
    width: 55%;
  }
}

@media (max-width: 1024px) {
  .link-btn {
    width: 100%;
  }
  .link-btn-escolha {
    height: 110px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /*ESCOLHA*/
  .link-btn-escolha .link-btn-img {
    width: 40% !important;
  }

  /*Estudar UA*/
  .link-btn .link-btn-img {
    width: 70%;
  }
  .link-btn {
    width: 60%;
    height: 70px;
  }
}
@media (min-width: 1440px) {
    /*Transportes*/
    .link-btn-transport .link-btn-img {
      width: 60% !important;
    }
    .link-btn-transport {
        height: 80px;
      }
  }
